@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: "Archivo-Bold";
    src: url("./fonts/Archivo-Bold.ttf");
  }

  @font-face {
    font-family: "droid";
    src: url("./fonts/IDroid.otf");
  }
  @font-face {
    font-family: "droidbold";
    src: url("./fonts/IDroidBold.otf");
  }

  /* @font-face {
    font-family: "Archivo-Regular";
    src: url("./fonts/Archivo-Regular.ttf");
  } */
  @font-face {
    font-family: "Archivo-Regular";
    src: url("./fonts/Archivo-Variable.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Archivo-thin";
    src: url("./fonts/Archivo_Condensed-Thin.ttf");
  }
  @font-face {
    font-family: "Archivo_Condensed-Black";
    src: url("./fonts/Archivo_Condensed-Black.ttf");
  }
  @font-face {
    font-family: "Inter_Regular";
    src: url("./fonts/Inter-Regular.ttf");
  }
  @font-face {
    font-family: "Inter_Regular";
    src: url("./fonts/Inter-Regular.ttf");
  }

@layer utilities {
  .grad-dar {
    background: linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%);
  }
}


@layer components {
  .headerbg {
    background:  linear-gradient(46deg, rgba(1, 12, 24, 0.80) 0%, rgba(1, 12, 24, 0.45) 100%);
    backdrop-filter: blur(24px);
  }
  .sponsorbtn{
    border-radius: 16px;
    background: var(--grad-dar, linear-gradient(130deg, #032449 0%, #0B77F0 100%));
    backdrop-filter: blur(30px);
    font-size: 15px;
    line-height: 16.32px;
    color: white;
    padding: 16px;
    font-family: Archivo-Regular;
    margin-top: 48px;
  }

  .home {
    background-color:  #010C18; 
  }
  .header-button {
    background:  linear-gradient(130deg, rgba(3, 36, 73, 0.60) 0%, rgba(11, 119, 240, 0.45) 100%);
    border: 2px solid var(--blue-50, #2486F5);
  }
  .level {
    background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  }

  .userProfileStat {
    border-radius: 16px;
    border: 2px solid var(--blue-80, #063C7A);
    background: #010C18;
    box-shadow: 61.33333969116211px 61.33333969116211px 92.00000762939453px 0px rgba(1, 12, 24, 0.25);
  }
  
  .image::before{
  content: "";
  display: block;
  width: 100vw ;
  height: 100vh; 
  position: fixed;
  /* backdrop-filter: blur(8px); */
  /* background-color: red; */
  z-index: 50;
  background:  rgba(16, 44, 71, 0.45) 100%
}
.sidebarItem{
  background:  linear-gradient(130deg, rgba(3, 36, 73, 0.60) 0%, rgba(11, 119, 240, 0.45) 100%);
  @apply hover:border-blue-50  hover:border-solid hover:border-[1px]
}
.next {
  background: linear-gradient(130deg,#032449, #78aae4);
  /* border-style: solid; */
  /* border-width: 1px; */
}

.gambtn {
 background:   linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%);
}

.sideBartitle:hover > div {
    display: block;
} 
.settingsFormbutton {
  background:  linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.creatorsModebutton {
  background: linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%)
}
.creatorsModebuttonbg{
  border-radius: 16px;
  background: var(--overlay-glas, linear-gradient(46deg, rgba(1, 12, 24, 0.80) 0%, rgba(1, 12, 24, 0.45) 100%));
  backdrop-filter: blur(30px);
}

.modalButton {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  width: 218px;
  height: 56px;
  border-style: solid;
  border-radius: 16px;
  border:2px;
  border-color: #063C7A;
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  border-style: solid;
}

.metamask{
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  width: 218px;
  height: 56px;
  border-style: solid;
  border-radius: 16px;
  border:2px;
  border-color: #063C7A;
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  border-style: solid;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 5s ease-in-out;
  border: 3px solid #fff;
}
.menu-btn__burger {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);

}

@media (min-width: 768px) {
  .modalButton {
    background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
    border:2px;
    border-style: solid;
    border-radius: 16px;
    width: 368px;
    height: 80px;
    border-color: #063C7A;
  }
  .metamask {
    width: 368px;
    height: 80px;
    padding: 4px;
  }
}

.progrssBar .steps:last-child .bullet::before,
.progrssBar .steps:last-child .bullet::after
{
  display: none;
}

}








.overlay {
  /* backdrop-filter: blur(2px); */
}


.image {
  backdrop-filter: blur(8px);
}

.modalButton {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
}