@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: "Archivo-Bold";
    src: url("./fonts/Archivo-Bold.ttf");
  }

  @font-face {
    font-family: "droid";
    src: url("./fonts/IDroid.otf");
  }
  @font-face {
    font-family: "droidbold";
    src: url("./fonts/IDroidBold.otf");
  }

  @font-face {
    font-family: "Archivo-Regular";
    src: url("./fonts/Archivo-Regular.ttf");
  }

.headerbg {
  background: linear-gradient(46deg, rgba(1, 12, 24, 0.80) 0%, rgba(1, 12, 24, 0.45) 100%);
  backdrop-filter: blur(24px);
}

.home {
  background-color:  #010C18;
  
}


.button {
  background:  linear-gradient(130deg, rgba(3, 36, 73, 0.60) 0%, rgba(11, 119, 240, 0.45) 100%);
  border: 2px solid var(--blue-50, #2486F5);
}

.load {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
}
.overlay {
  /* backdrop-filter: blur(2px); */
}


.bg-joint {
  backdrop-filter: blur(8px);
}
.metamask {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  border:2px;
  border-style: solid;
  border-radius: 16px;
  width: 368px;
  height: 80px;
  border-color: #063C7A;
}


.install {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
}