@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: "Archivo-Bold";
    src: url("./fonts/Archivo-Bold.ttf");
  }

  @font-face {
    font-family: "droid";
    src: url("./fonts/IDroid.otf");
  }
  @font-face {
    font-family: "droidbold";
    src: url("./fonts/IDroidBold.otf");
  }

  /* @font-face {
    font-family: "Archivo-Regular";
    src: url("./fonts/Archivo-Regular.ttf");
  } */
  @font-face {
    font-family: "Archivo-Regular";
    src: url("./fonts/Archivo-Variable.ttf");
  }
  @font-face {
    font-family: "Archivo-thin";
    src: url("./fonts/Archivo_Condensed-Thin.ttf");
  }
  @font-face {
    font-family: "Archivo_Condensed-Black";
    src: url("./fonts/Archivo_Condensed-Black.ttf");
  }
  @font-face {
    font-family: "Inter_Regular";
    src: url("./fonts/Inter-Regular.ttf");
  }
  @font-face {
    font-family: "Inter_Regular";
    src: url("./fonts/Inter-Regular.ttf");
  }

@layer utilities {
  .grad-dar {
    background: linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%);
  }
}


@layer components {
  .headerbg {
    background:  linear-gradient(46deg, rgba(1, 12, 24, 0.80) 0%, rgba(1, 12, 24, 0.45) 100%);
    backdrop-filter: blur(24px);
  }
  .home {
    background-color:  #010C18; 
  }
  .header-button {
    background:  linear-gradient(130deg, rgba(3, 36, 73, 0.60) 0%, rgba(11, 119, 240, 0.45) 100%);
    border: 2px solid var(--blue-50, #2486F5);
  }
  .level {
    background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  }

  
  .image::before{
  content: "";
  display: block;
  width: 100vw ;
  height: 100vh; 
  position: fixed;
  /* backdrop-filter: blur(8px); */
  /* background-color: red; */
  z-index: 50;
  background:  rgba(16, 44, 71, 0.45) 100%
}
.sidebarItem{
  background:  linear-gradient(130deg, rgba(3, 36, 73, 0.60) 0%, rgba(11, 119, 240, 0.45) 100%);
} 
.settingsFormbutton {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.modalButton {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  width: 218px;
  height: 56px;
  border-style: solid;
  border-radius: 16px;
  border:2px;
  border-color: #063C7A;
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
  border-style: solid;

}
@media (min-width: 768px) {
  .modalButton {
    background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
    border:2px;
    border-style: solid;
    border-radius: 16px;
    width: 368px;
    height: 80px;
    border-color: #063C7A;
  }
}


.progrssBar .steps:last-child .bullet::before,
.progrssBar .steps:last-child .bullet::after
{
  display: none;
}

}








.overlay {
  /* backdrop-filter: blur(2px); */
}


.image {
  backdrop-filter: blur(8px);
}

.modalButton {
  background: var(--grad-glas, linear-gradient(130deg, rgba(3, 36, 73, 0.45) 0%, rgba(11, 119, 240, 0.10) 100%));
}